.galleryList {

  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
  margin-top: 114px;
  justify-content: center;
  padding-top: 20px;
  background-color: #31313c;
}
.photo-card {
  position: relative;

  transform: scale(1);
}
.photo-card:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}
.photo-card:focus {
  transform: scale(1.1);
  transition-duration: 1s;
}
.image {
  box-shadow: 10px 10px 10px rgb(43, 30, 30);
  border-radius: 5px;
}
.info {
  position: absolute;
  bottom: 0;
  left: 0;
  /*margin: 5px;*/
  border-radius: 10px;
  display: flex;
  /*padding: 0 5px;*/
  background-color: rgba(32, 31, 31, 0.8);
  width: 250px;

}
.info-item {
  font-size: 12px;
  color: rgb(247, 246, 246);
  text-align: center;
  margin-right: 5px;
  padding: 5px;
}

